body{
	background-image: url("img/pic2.jpg");
	background-size: cover;
	background-position: all;
	width: 280px;
	height: 100px;
	font-size: 100%;
	padding: 50px;
	border: solid white;
	border-radius: 3px;
}
